#image {
    content:url("https://theluxurytravelexpert.files.wordpress.com/2014/01/scenery.jpg");
    height: 20em;
}

#spotify {
    content:url(http://www.gannett-cdn.com/-mm-/d7f7245c264b6c2de102ff7b84cc0b2519d30f74/c=0-167-750-1167&r=537&c=0-0-534-712/local/-/media/2015/07/20/USATODAY/USATODAY/635729792036294442-Discover-Weekly---Playlists-iOS.png);
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: 500px;
    width: auto;
}

.button {
     display: inline-block;
     padding: 5px 15px;
     font-size: 20px;
     cursor: pointer;
     text-align: center;
     text-decoration: none;
     outline: none;
     color: #fff;
     background-color: #5ca1c9;
     border: none;
     border-radius: 15px;
     box-shadow: 0 3px #999;
 }

.button:hover {
    background-color: #69b8e5
}

.button:active {
    background-color: #406f8b;
    box-shadow: 0 3px #666;
    transform: translateY(4px);
}


.panel-container {width:300px;height:300px;margin:20px;background:#f2f2f2;overflow:auto;}
.panel-content {
    height: 100%;
}
.wrapper {
    min-height: 100%;
    height: auto;
    height: 100%;
    margin: 0 auto -30px;
}
.footer, .push {
    height: 30px; /* .push must be the same height as .footer */
}
.footer {background:#ccc;}

.hidden, #gone {
    visibility: hidden;
    width: 0;
    top: -50px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #26a69a;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

#icon {
    display: inline-block;
    float: left;
}

#upload-file {
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    height: 45px;
    margin-top: 5px;
    margin-bottom: 5px;
}

input {
    width: 0;
    height: 1px;
}

#butt {
    margin-left: auto;
    margin-right: auto;
}

.clear {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

iframe {
    margin-left: auto;
    margin-right: auto;
}

#spot-wrapper {

}

#random {
    margin-top: 5px;
    margin-bottom: 5px;
}

.background-image {
    position: fixed;
    background-repeat: no-repeat;
    left: 0;
    right: 0;
    z-index: 1;

    display: block;
    background-image: url('http://666a658c624a3c03a6b2-25cda059d975d2f318c03e90bcf17c40.r92.cf1.rackcdn.com/unsplash_527bf56961712_1.JPG');
    background-size: cover;
    height: 100%;
    width: 100%;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}

.content {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 9999;
}

#nav {
    width: 100%;

}

@media screen and (max-width: 480px) {
    #spotify {
        width: 500px;
    }
    #main {
        width: 700px;
    }
    .buttondiv {
        width: 300px;
    }
}
